QLabel[type="heading"] {
    color: red;
    font-size: 15px;
}

QLabel[type="forecast"] {
    font-size: 15px;
}

QLabel[type="large_temp"] {
    font-size: 65px;
}

QLabel[type="large_humidity"] {
    font-size: 45px;
}

QLabel {
    font-size: 20px;
}

QWidget#graph {
    font-size: 30px;
}

* {
    background-color: black;
    color: white;
    font-family: "Noto Sans Display Condensed";
}
